*{
  font-family: Verdana;
  font-weight: normal;
  color: White;
  background: Black;
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 21;
  color: Gray;
}

#link {
  font-size: 16px;
  color: Aquamarine;
}

#footer {
  text-align: right;
}
